@charset "utf-8";
body{
    background:#f0e0e0;
}
main{
    width: 1000px;
    margin: 10px auto;
}
nav{
    position: sticky;
    top: 10px;
}
.nav{
    float: left;
    width: 90px;
    background: #fff;
    margin-right: 10px;
}
.nav-item a{
    display: block;
    width: 100%;
    line-height: 36px; 
    text-align: center;
    color: #333;
} 
.nav-item a:hover{
    color: #fffefe;
    background: salmon;
}

.content{ 
    padding: 1em 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}
.card-box{
    position: relative;
    width: 280px;
    height: 280px;
    margin: 10px;
    flex-shrink: 0;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #eee;
    overflow: hidden;
} 
.card-box img{
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
.card-box .summary{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 36px;
    background: rgba(45, 45, 45, 0.5);
    color: #fff;
    text-align: center; 
    transition: 0.25s ease-out;
    transform: translateY(100%);
}
.card-box:hover {
    box-shadow: 0px 1px 10px 8px rgba(0, 0, 0, 0.05);
}
.card-box:hover img{
    opacity: 0.5; 
}
.card-box:hover .summary{
    transform: translateY(0%);
    background: rgba(45, 45, 45, 0.75);

}