@charset "utf-8";
html,
body{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #e4e4e4;
}
.container{
    width: 140px;
    margin: auto;
}
.battery-copy{ 
    position: relative;
    width: 140px;
    height: 220px;
    background-color: rgb(141, 192, 233);
    border-radius: 15px 15px 5px 5px;
    overflow: hidden;
}
.g-wave{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    bottom: 5%;
    background-color: rgba(255,255,255,.6);
    border-radius: 45% 46% 42% 42%;
    transform: translate(-50%, 0);
    animation: move 15s infinite ;
}
.g-wave:nth-child(2) {
    border-radius:38% 46% 43% 47%;
    transform: translate(-50%,0) rotate(135deg);
}
.g-wave:nth-child(3) {
    border-radius:42% 46% 37% 40%;;
    transform: translate(-50%,0) rotate(-45deg);
}
@keyframes move{
    100%{
        transform: translate(-50%,-90%) rotate(720deg);
    }
}